/* 底部 */
a{
    text-decoration: none;
    color: rgb(114, 114, 114);
}

footer{
    height: 280px;
    background: #e7e6e6;
    position: relative;

}
.footer{
    align-self:center;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    top: 40px;
    height: 200px;
}

.footer div{
    width: 150px;
    height: 100px;
    width: 150px;
    float: left;

}
.footer div strong{
    display: inline-block;
    height: 50px;
}

.footer div li{
    list-style-type: none;
    height: 30px;
}
.footer .footer_img{
    width: 120px;
    height: 120px;
    margin-top: 55px;
    margin-left: 30px;

}

.footer_img img{
    width: 120px;
    height: 120px;

}

/* 版权 */
.copy{
    background: #e7e6e6;
    height: 120px;
}

.copy_company{
    border-top: rgb(172, 172, 172);
    box-shadow: #e6454a;
    padding-top: 20px;
}
.copy_company div span{
    margin-left: 10px;
    color: rgb(99, 99, 99);
}
.copy_company .banquan_img img{
    margin-top: 10px;
    margin-left: 10px;
}