.mbxie{
    margin-top: 30px;
    text-align: left;
    padding-left: 50px;
}
.mbxie a{
    font-size: 16px;
}

/* 属性 */
.subMenu{
    height: 280px;
    margin-top: 40px;

    
}
.subMenu ol{
    width: 1180px;
}
.subMenu ol dl{
    padding-right: 135px;
    overflow: hidden;
    height: 50px;
    line-height: 59px;
    border: 1px solid hsl(0, 0%, 90%);

}
.subMenu ol dl dt{
    float: left;
    width: 85px;
    height: 50px;
    background: #b1b1b1;
    line-height: 50px;
}
.subMenu ol dl dd a{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
}

/* .subMenu .Menu_box{
    height: 59px;
    line-height: 59px;
} */
.Menu_list{
    width: 45px;
    line-height: 30px;
    margin: 10px 0 0 10px;
    border: 1px solid #e3e3e3;
    cursor: pointer;

}
/* .subMenu ol dl:hover{
    overflow: visible;
    height: 100px;
} */

/* .subMenu ol .Menu_listdl:target{
    overflow: visible;
    height: 100px;
    border-color:#f60;

} */

/* 筛选项 */
/* .select_box{
    height: 80px;
} */
/* .menu_select span, .menu_select select, .menu_select a{
    display: inline-block;

} */
.select_nav {
    text-align: left;
    background: #b1b1b1;
    width: 1150px;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
    padding-left: 30px;

}
.select_nav select{
    width: 80px;
    margin-left: 20px;
    border: 1px solid #e3e3e3;
    height: 25px;
}
.select_nav a{
    display: inline-block;
    margin-left: 100px;
    text-align: center;
    line-height: 25px

}
.select_nav a img{
    float: right;
    width: 25px;
    height: 25px;
    pointer-events: none;
}

/* 师傅列表 */
.main_content{
    height: 2150px;
}



.content_left{
    width: 800px;
    height: 2100px;
    padding: 10px 70px 30px 10px;
}
.content_left ul li{
    float: left;
    margin-top: 10px;
    width: 800px;
    padding: 20px 0 0 0;
}
.content_left ul li:hover{
    /* border: 1px solid #ee0d0d; */
    box-shadow: 0px 2px 16px #333333; 
    /* v-shadow: */
}
.content_left ul li div{
    float: left;
    
}

.num_a{
    width: 60px;
    height: 180px;
    display: flex;
    align-items: center;
}

.user_pic{
    height: 180px;
    width: 100px;
    margin-left: 10px;
}


.user_content{
    width: 260px;
    height: 180px;
    margin-left: 20px;
}
.user_content span , user_content div{
    margin: 10px 0px;
}

.user_name, .user_xingji, .user_hosiht, .user_jineng, .user_add{
    width: 300px;
    height: 30px;
    text-align: left;
}

.user_name{
    padding-left: -50px;


}
.user_name a{
    font-size: 18px;
}
.user_xingji{
    background-image: url(../images/xj.png);
    background-repeat: repeat-x;
    width: 145px;
    height: 25px;
}
.user_tel{
    margin-left: 180px;
    height: 180px;
    width: 80px;
    text-align: center;
    
}
.user_tel a{
    border-radius: 1px;
    width: 120px;
    line-height: 45px;
    background: rgb(196, 196, 21);
    color: #000;
    display: block;
    text-align: center;
    position: relative;
    top: 40%;
}
.user_tel a:hover{
    background: #ee1919;

}


/* 右边 */
.content_right{
    width: 335px;
    height:1800px;
}
.hot_sever h2{
    margin-top: 20px;
    height: 50px;
    line-height: 50px
}
.hot_sever a{
    display: inline-block;
    width: 100px;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background: #b1b1b1;
    border: 1px solid #9b9b9b;
}
/* 推荐师傅 */
.hot_shifu{
    margin-top: 20px;
    height: 400px;
    line-height: 50px;
    padding: 0 20px 0;
}
.hot_shifu h2{
    margin-top: 20px;
    height: 50px;
    line-height: 50px
}
.hot_shifu_list{
    height: 150px;
    width: 100px;
    text-align: center;
    margin: 20px 0 0 35px;
    position: relative;
}
.hot_shifu_name{
    display: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #00000098;
    color: #fff;
    position: absolute;
    top: 82%;
    left:50%;
    transform: translate(-50%,-10%)
}
.hot_shifu_list a:hover .hot_shifu_name{
    display: block;
}

/* 相关推荐 */
.commend_box{
    margin-top: 20px;
    height: 400px;
    line-height: 50px;
    padding: 0 20px;
}

.commend_box h2{
    margin-top: 20px;
    height: 50px;
    line-height: 50px
}
.commend{
    height: 150px;
    width: 100px;
    margin: 20px 0 0 20px;
}
.commend a img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border: 1px solid #8888886c;
}

/* 翻页 */
.page{
    height: 100px;
    margin-top: 20px;
    line-height: 80px;
}
.page_box{
    width: 1373px;
    display: flex;
    justify-content: center;
      
}
.page_cl{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 80px;
    background: #6b6b6b;
    color: #fff;
    cursor: pointer;

    
}
.next_page a{
    display: inline-block;
    line-height: 35px;
    width: 45px;
    height: 35px;
    border: 1px solid #e3e3e3;
    margin: 0 10px;

}
.all_page{
    margin-left: 20px;
}
.all_page input{
    width: 30px;
    height: 25px;
}
.all_page span{
    margin: 0 10px;
}
.all_page .btn{
    width: 50px;
    height: 35px;
    background: #2414b6bb;
    border: none;
    color: #fff;
    cursor: pointer;
}