/* bannar */
.bannar img{
    width: 7.5rem;
    height: 4rem;
}
.about-company{
    margin-top: .18rem;
    background: white;
}

.about-content h4{
    margin: .2rem;
    font-size: .3rem;
    font-weight: 550;
    color: #e24125;
}
.about-content p{
    font-size: .246rem;
    text-indent: 2em;
    color: #666;
    padding: 0 .1rem;
}
.company-environment img{
    text-indent: 0;
    padding: .25rem;
    width: 7rem;
    height: 4rem;
}
.contact-content{
    padding-left: .3rem;
    padding: .2rem;
    font-size: .246rem;
    background: white;
}
.contact-content >div{
    margin-bottom: .2rem;
}

