/* 文章列表内 */
.article-main{
    margin-top: 10px;
    background: white;
}
.article-main ul{
    padding: .189rem 0;
}

.article-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .249rem .2rem;
    border-bottom: 1px dashed #d8d8d8;
}
.article-lists-img{
    max-width: 4rem;
    max-height: 2.6rem;

}
.article-lists-img a img{
    width: 2.4rem;
    height: 1.8rem;
}
.article-content{
    margin-left: .189rem;
}
.article-content a{
    display: flex;
    flex-direction: column;
    height: 1.8rem;
    justify-content: space-between;
}
.article-title{
    height: .4rem;
    white-space: wrap;
    overflow: hidden;
    font-size: .258rem;
    font-weight: 600;
}
.article-synopsis, .article-date{
    font-size: .2536rem;
    /* -webkit-line-clamp: 3; */
}
.article-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* 热门文章 */
.hot-article{
    margin-top: .189rem;
    background: white;
}
.hot-container{
    padding: .189rem .189rem;
}
.hot-list a{
    font-weight: 500;
}
.hot-list{
    height: .8rem;
    line-height: .8rem;
    font-size: .2846rem;
}
/* 面包屑 */
.crumbs{
    margin-top: 10px;
    background: white;
}
.crumbs-container{
    padding: .2rem .16rem;
    font-size: .2456rem;
    background: #f1f1f1;
}
.crumbs-container a h1{
    display: inline;
    font-size: .2456rem;
    font-weight: normal;
}