@media screen and (min-width: 320px) {
    html {
        font-size: 42.6667px;   /* 1rem=42.6667px？？ */
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 53.3333px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px;
    }
}

@media screen and (min-width: 440px) {
    html {
        font-size: 58.6667px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 64px;
    }
}

@media screen and (min-width: 520px) {
    html {
        font-size: 69.3333px;
    }
}

@media screen and (min-width: 560px) {
    html {
        font-size: 74.6667px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 80px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 85.3333px;
    }
}

@media screen and (min-width: 680px) {
    html {
        font-size: 90.6666px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 96px;
    }
}

@media screen and (min-width: 760px) {
    html {
        font-size: 101.3333px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 106.6666px;
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: 128px;
    }
}

/*
【字体自适应方案二】
html { font-size: 62.5%; }  浏览器默认字体大小为16px， (10/16)*100%=62.5%, 所以1rem=10px， 1.4rem=14px;
body { font-size: 14px; font-size: 1.4rem; }  =14px 
h1 { font-size: 24px; font-size: 2.4rem; }  =24px 
*/




/* 公共样式 */
.clear{
    zoom:1;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
body{
    max-width:640px;
    min-width:320px;
    /* 流畅滚动 貌似*/
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    background: #f9f9f9;   
}


a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

/* 字体超出宽度处理 */
.more-row{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/* 线条处理 已经实现解决1px边框问题 */
.bottom-line::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 1px;
    width: 200%;
    background-color: #E4E6EB;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
}

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:link, a:visited, a:hover, a:active, input, span{
    text-decoration: none;
    color: #666;
    outline: 0;
}
.fl{float: left;}
.fr{float: right;}
ol,dl,ul,li{
    list-style-type: none;
}

.red{
    color: #ca2c27;
}
.underline{
    text-decoration: underline;
}

.sub-title{
    margin-top: 10px;
    background: white;
    border-bottom: 1px solid #7979;
}

.sub-title h3{
    padding: 10px 10px 5px;
    font-size: .36rem;
}

/* 翻页 */
.page{
    margin-top: 10px;
}
.page-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: white;
}
.page-container a{
    display: inline-block;
    width: 48%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e4e4e4;
    font-size: .23675;
}
.page-container a::after{
    content: "";
    display: block;
    height: 1px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}


/* 页面头部logo */
header{
    height: 50px;
    line-height: 50px;
    background-color: rgb(82, 184, 14);
    display: flex;
    justify-content: space-between;
}

.header-logo{
    height: 50px;
    width: 100px;
    position: relative;
} 

.logo-icon{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 15px;
    width: 120px;
    height: 30px;
    background: url(../images/logo.jpg) no-repeat left;
    background-size: 130px 30px;
}
.header-search{
    display: flex;
    padding-right: 15px;
    height: 50px;
    align-items: center;
}

.header-search a{
    font-size: 14px;
    color: #fff;
    padding-right: 15px;
}

.header-search input{
    width: 3.4rem;
    height: 28px;
    border-radius: 100px;
    text-align: center;
}

/* 子标题 */

.hot-service-h2{
    margin-bottom: 10px;
    font-size: .28rem;
    color: rgb(192, 37, 37);
    text-align: center;
}

/* 点击下标 */
.look-on{
    border-bottom: 2px solid #ca2c27;
}

/* 版权信息 */
.footer{
    margin-top: 15px;
}
.footer-container{
    padding: 10px 0 80px;
    text-align: center;
}
.footer-container p{
    height: 35px;
    line-height: 35px;
    font-size: .23rem;
    color: #585858;
}
.footer-contact a{
    padding: 0 6px;
}

/* 底部悬浮导航 */
.suspend-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    width: 100%;
    max-width: 640px;
    border-top: 1px solid #e7e7e7;
    background: #fff;
}
.suspend-container{
    padding: 0 15px;
}
.suspend-list{
    float: left;
    padding-top: 6px;
    width: 25%;
    height: 56px;
    line-height: 56px;
}
.suspend-list a{
    display: block;
    width: .7rem;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
.suspend-list a div{
    display: inline-block;
}

.suspend-icons {
    display: block;
    height: 25px;
    width: 25px;
    background: url(../images/suspend-ico.png) no-repeat
}
.home-icon{
    background-position: 0 0;
}
.publish-icon{
    background-position: -27px 0;
}
.information-icon{
    background-position: -54px 0;
}
.user-icon{
    background-position: -81px 0;
}

.home-title{
    height: 18px;
    line-height: 18px;
}




/* 动画定义3D启用硬件加速 */
Element {
    -webkit-transform:translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* 旋转屏幕时，字体大小调整的问题 */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{
  -webkit-text-size-adjust:100%;
}





