
/* 城市站 */
.carousel-contaier{
    width: 100%;
    height: 2.7rem;
    overflow: hidden;
    position: relative;
}
.swiper-contaier{
    position: relative;
    width: 46.4316rem;
    height: 2.7rem;
    z-index: 1;


}
.swiper-contaier li{
    float: left;
}
.caiousel-list a img{
    height: 2.7rem;
    width: 7.7386rem;
}
.caorusel-btn{
    position: absolute;
    bottom: 0.05rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.caorusel-btn .caorusel-btn-on{
    background: orangered;
}
.caorusel-btn span{
    display: block;
    float: left;
    width: 0.3rem;
    height: 0.1rem;
    margin-right: 0.2rem;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    background: #fff;
}

/* 服务保证 */
.service-promise-container{
    margin-top: 0.2rem;
    background: #fff;
    height: 2.2rem;
}
.promise-container{
    padding: 0.2rem 0;
}
.promise-container li{
    float: left;
    width: 25%;
    text-align: center;
}
.promise-container li img{
    width: 1.123rem;
    height: 0.843rem;
}

/* 师傅榜 */
.master-top{
    margin-top: 10px;
    background: white;

}
.master-top-more{
    display: flex;
    justify-content: space-between;
    height: .5797rem;
    position: relative;
    padding: 10px 14px 0;
}

.master-top-more h2{
    font-weight: bold;
    font-size: .2898rem;
}
.master-top-more span{
    font-size: .2536rem;
}

.master-container{
    padding: 0 .1rem;

}
.master-items > div {
    float: left;
}
.master-header{
    width: 30%;
    text-align: center;
}
.master-name{
    width: 45%;
}

.master-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    position: relative;
    font-size: 0.25rem;

}
.master-header img{
    width: 1.3rem;
    height: 1.5rem;
}

.master-name p{
    height: .8rem;
    line-height: .8rem;
    font-size: 0.2989rem;
}
.master-service{
    width: 25%;
    padding-right: .2rem;
    text-align: right;
}
.master-service p{
    height: .6rem;
    line-height: .6rem;

}
.master-service-call a{
    display: inline-block;
    width: 1.5rem;
    background: orange;
    color:white;
    text-align: center;
}

/* 服务流程 */
.flow{
    padding-top: 10px;
    margin-top: 10px;
    height: 2.3rem;
    background: white;
}
.flow-container li{
    float: left;
    width: 25%;
    height: 1.2rem;
    text-align: center;
}
.flow-container li img{
    width: 1.2rem;
    height: 1.2rem;

}