/* 服务方式详情页 */
.companyid{
    background: whitel;
}
.companyid-info, .companyid-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4rem .18rem;
    color: #444;
    background: white;
}
.companyid-logo{
    width: 2.4rem;
    height: 1.2rem;
}
.companyid-logo img{
    width: 100%;
    height: 100%;
}
.companyid-about{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .18rem;
    font-size: .246rem;
}
.companyid-title{
    font-size: .2898rem;
    font-weight: 500;
}
.companyid-active span{
    padding-right: .2rem;
}

.companyid-contact{
    margin-top: .18rem;
    padding: .18rem .2rem;
}
.contact-nub{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .246rem;
}

.buy{
    margin-left: .2rem;
    font-size: .289rem;
    padding-top: .2rem;
}
.buy a{
    padding: .18rem .22rem;
    text-align: center;
    color: #fff;
    background: orange;
}
/* 优惠券 */
.companyid-coupon{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .18rem;
    padding: .2rem;
    background: #fff;

}
.companyid-coupon a img{
    width: 3.4rem;
    height: 1rem;
}

/* 公司简介 */
.profile{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: .2rem;
    padding: 0 .2rem;
    font-size: .289rem;
    background: #fff;
    text-indent: 2e;
}

.companyid-service{
    margin-top: .12rem;
    background: #fff;
}
.more-warp{
    padding-right: .2rem;
    font-size: .246rem;
    padding-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service-items{
    margin-top: .2rem;
}
.service-list{
    float: left;
    width: 33%;
}
.service-list a{
    display: inline-block;
    padding: .3rem .2rem;
}
.service-list a img{
    width: 2rem;
    height: 1.2rem;
}

/* 团队 */
.team-item{
    background: #fff;
}
.team-list a{
    float: left;
    margin-top: .2rem;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
.team-head{
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 200px;
    overflow: hidden;
    text-align: center;
}
.team-head img{
    height: 100px;
    width: 100px;
}

.master-name{
    font-size: .289rem;
}
.master-skill{
    font-size: .22rem;
}

/* 评价列表 */
.assess-lv{
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: .2546rem;
    background: white;
}
.assess-lv span{
    padding-right: .2rem;
    font-size: .2546rem;
}
.assess-lists {
    display: flex;
    align-items: center;
    padding: 10px 6px 10px;
    /* margin-top: 4px; */
    height: 1.4rem;
    font-size: .2536rem;
    border-bottom: 1px dashed #d4d4d4; 
    background: white;

}
.assess-lists > div{
    float: left;
}

.assess-content-container{
    width: 65%;
    margin-left: .1rem;
}

.assess-content span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;

}
.assess-user-info{
    margin-left: .5rem;
    width: 35%;
    font-size: .2rem;
}

.assess-details-img img{
    width: 1.8rem;
    height: 1.2rem;
}
.assess-star{
    margin-top: 6px;
    width: 100px;
    height: .4rem;
    background-size: .1rem; 
    background: url(../images/star.png) repeat-x center;
}
.user-info-header img{
    height: .5rem;
    width: .5rem;
    vertical-align: middle;

}
.user-info-header{
    white-space: nowrap;
}

.assess-date{
    margin-top: 16px;
}
