/* 装修公司列表 */
.company-wrap{
    padding: .3rem .2rem;
    background: white;
}
.company-list{
    padding: .28rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.company-img{
    width: 2rem;
    height: 1.4rem;
}
.company-img img{
    height: 100%;
    width: 100%;
}
.company-info{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .08rem;
    height: 1.4rem;
    font-size: .245rem;
}
.company-name{
    font-size: .28rem;
    font-weight: 500;
    background: url('../images/validate1.png') 3.1rem center no-repeat,
            url('../images/validate2.png')  3.44rem center no-repeat;
    background-size: .36rem;
}
.company-add{
    display: -webkit-box;
    display: -moz-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.company-sell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .246rem;
}
.company-service{
    font-size: .189rem;
    text-align: right;
    color: #aaaaaa;
}
.company-service, .contact-sell{
    white-space: nowrap;
    margin-bottom: .189rem;
}
.contact-sell a{
    padding: .1rem .2rem;
    text-align: center;
    background: chocolate;
    color: white;
}

