/* 师傅基本信息 */
.masterid-info{
    background: white;
}
.masterid-container{
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;   

}
/* .masterid-img{
    margin-left: 10px;
} */

.masterid-content{
    margin-left: .6rem;
    height: 2.1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
    font-size: .2546rem;

}
.masterid-name{
    font-size: .2989rem;
    font-weight: 600;
    background: url('../images/validate1.png') 1rem center no-repeat,
                url('../images/validate2.png') 1.4rem center no-repeat;
    background-size: .36rem;

}
.masterid-add{
    padding-left: .4rem;
    background: url('../images/location.png') no-repeat 0  center;
    background-size: .3624rem;

}
.masterid-skill span{
    margin-right: .2rem;
    padding: 2px 10px;
    border: 1px solid #d4d4d4;
}
.masterid-show-tel{
    margin-top: 10px;
}
.masterid-show-tel .click-tel{
    padding: 4px 20px;
    text-align: center;
    color: white;
    background: #cc1010;
}


/* 正在出售的服务 */
.masterid-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}
.masterid-sell .masterid-more span{
    height: .4rem;
    line-height: .9rem;
    font-size: .2898rem;
}
.sell-container{
    padding: 10px 10px;
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    background: white;
}
.sell-container::-webkit-scrollbar{
    height: 0;
    width: 0;
    display: none;
}

.sell-list{
    margin-right: .4rem;

}
.sell-list a{
    position: relative;
}
.sell-list a img{
    max-width: 5rem;
    max-height: 4rem;
    width: 4rem;
    height: 3rem;
}

.sell-list a span{
    font-size: .3rem;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 14px;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.7);

}
/* 服务保障 */
.guarantee-container img{
    width: 1.4rem;
    height: 1rem;
    margin-right: 4px;
}

.guarantee-container{
    padding: 10px;
    text-align: center;
    background: white;
}

















