/* 服务列表 */
.order-container{
    margin-top: 20px;
}
.order-master-name{
    padding: 4px 6px;
    font-size: .2898rem;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
}
.order-img{
    display: flex;
    align-items: center;
}
.order-img img{
    float: left;
    width:1.5rem;
    height:1.5rem;

}
.order-img span{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    -webkit-box-orient: vertical;
    padding-left: 4px;
}
.order-add-minus input {
    width: .3rem;
}
.order-tbody tr th, .order-tbody tr td{
    padding: 4px 6px;
    text-align: center;
}
.order-tbody tr th{
    white-space: nowrap;
    padding-right: 10px;
    border: 1px solid #d4d4d4;
    font-size: .2898rem;
    font-weight: 600;
}
.order-add-minus{
    display: flex;
    flex-flow: row;
    align-items: center;
}

/* 用户信息 */
.order-user-info{
    padding: 10px 0;
    background: white;
    
}
.user-input{
    font-size: .2898rem;
    margin: 10px;
}
.user-input input{
    margin-top: 4px;
    width: 100%;
    height: .6rem;
    max-height: .8rem;
}
.user-info-submit{
    margin-right: .4rem;
    text-align: right;
}
.information-submit{
    margin-top: 10px;
    background: white;
}